/* Menu déroulant (trie) */

.fa-solid,
.fas {
  margin-left: 18px;
}

.sortTitle {
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

#sort{
  margin-left: -25px;
}

.sort-options {
  font-family: "DM sans", sans-serif;
  display: flex;
}

.sortSelect {
  cursor: pointer;
  background: #901c1c;
  color: white;
  padding: 10px;
  margin-bottom: 0px;
  width: 150px;
  margin-left: 15px;
}

.popularity {
  margin-top: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  
}

.popularity:hover ul {
  display: block;
}

.sort-wrapper ul {
  display: none;
  position: absolute;
  width: 150px;
  margin-top: 10px; /* Ajustez en fonction de votre mise en page */
  padding-left: 0; /* Enlève le padding par défaut des listes */
}

.sort-wrapper ul li {
  display: block;
  border-top: 2px solid white;
}

.sort-wrapper ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}



#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal form */

#header-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.titleForm {
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  margin: 0;
}

.nameContact {
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  margin: 0;
}

.button {
  background: #901c1c;
  margin-top: 0.5em;
  padding: 1em;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background: #db8876;
  border-color: #901c1c;
}

.smFont {
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

.content {
  margin: 2% auto;
  width: 100%;
  max-width: 670px;
  background: #db8876;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 5%;
}

label {
  font-family: DM Sans;
  font-size: 36px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 95%;
  border-radius: 5px;
  font-size: 20px;
  height: 48px;
}

.text-message {
  margin: 0;
  padding: 8px;
  width: 95%;
  border-radius: 5px;
  font-size: 20px;
  height: 80px;
}

.close {
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 36px;
  width: 5px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.modalConfirmation {
  display: none;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 40px;
  font-weight: normal;
  height: 150px;
  display: none;
  margin-top: 50px;
}

.btnClose {
  background: #901c1c;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

/* Page Profil */
main {
  padding: 0 100px;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 70px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.photograph-header h1 {
  color: #d3573c;
  font-family: DM Sans;
  font-size: 64px;
}

.photograph-header p {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.photograph-header span {
  color: #525252;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

/* encart qui affiche le tarif journalier */

#like-tarif {
  background-color: #db8876;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 0;
  font-size: 17px;
  padding: 15px 20px;
  right: 35px;
  width: 250px;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
}



/* photo video */

.list-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 25px;
}

.list-media img,
.list-media video {
  height: 300px;
  width: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.list-media figure {
  margin: auto;
  margin-bottom: 30px;
}

.list-media figcaption {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
}

.list-media figcaption P {
  margin: 0;
}

.like {
  color: #901c1c;
  font-size: 20px;
}

.like-coeur {
  width: 21px;
  height: 24px;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
}

.contenu-lightbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contenu-photo-lightbox img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1050px;
  height: 900px;
  border-radius: 5px;
  object-fit: cover;
  margin: auto;
}

.close-lightbox {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 76px;
  color: #901c1c;
  cursor: pointer;
}

.fleche {
  cursor: pointer;
  color: #901c1c;
  font-size: 96px;
  padding: 10px;
  user-select: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#fleche-gauche {
  left: 10px;
}

#fleche-droite {
  right: 10px;
}
.titre-photo{
  color: #901c1c;
}