#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* Modal form */

#header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin: 0;
}

.titleForm {
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    margin: 0;
}

.nameContact {
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    margin: 0;
    padding: 15px 5%;
}

.button {
    background: #901C1C;
    margin-top: 0.5em;
    padding: 1em;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background: #DB8876;
    border-color: #901C1C;
}

.smFont {
    font-size: 16px;
}

.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(196, 196, 196, 0.40);
}

.content {
    margin: 2% auto;
    width: 100%;
    max-width: 670px;
    background: #DB8876;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}

.modal-body {
    padding: 15px 5%;
}

label {
    font-family: DM Sans;
    font-size: 36px;
}

input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}

.text-control {
    margin: 0;
    padding: 8px;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    height: 48px;
}

.text-message {
    margin: 0;
    padding: 8px;
    width: 95%;
    border-radius: 5px;
    font-size: 20px;
    height: 80px;
}

.close {
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 36px;
    width: 5px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.modalConfirmation {
    display: none;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: normal;
    height: 700px;
    padding-top: 200px;
    display: none;
    margin-top: 150px;
}

.btnClose {
    background: #901C1C;
    display: block;
    margin: 0 auto;
    margin-top: 330px;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

/* Page Profil */
main {
    padding: 0 100px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 70px;

}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}


.photograph-header h1 {
    color: #D3573C;
    font-family: DM Sans;
    font-size: 64px;
}

.photograph-header p {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.photograph-header span {
    color: #525252;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

/* encart qui affiche le tarif journalier */

#like-tarif {
    background-color: #DB8876;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom: 0;
    font-size: 17px;
    padding: 15px 20px;
    right: 35px;
    width: 250px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
}


/* photo video */

.list-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.list-media img, .list-media video {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.list-media figure {
    margin: auto;
    margin-bottom: 30px;
}

.list-media figcaption {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
}

.list-media figcaption P {
    margin: 0;
}

.like {
    color: #901C1C;
    font-size: 20px;
}

.like-coeur {
    width: 21px;
    height: 24px;
}